body {
  width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, regular;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  color: var(--charcoal-grey);
  
}

img {
  max-width: 100%;
  height: auto;
}

.ul-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 83px;
}

.nav-header{
  width: 1440px;
  height: 545px;
  background-color: #eeeeee;
}
.nav-header-catalog{
  width: 1440px;
  height: 355px;
  background-color: #eeeeee;
}
.main-navigation{
  width: 1160px;
  margin-left: 140px;
  margin-right: 140px;
  display: flex;
  vertical-align: top;
}
.main-navigation img{
  margin-top: 49px;
}
.main-navigation-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 202px;
}

.site-navigation {
  margin-right: 47px;
 }

 .site-navigation:last-child {
  margin-right: 0;
 /* margin-left: 286px; */
}
.img-basket-link{
  display: flex;
  vertical-align: top;
}
.site-navigation-link{
   font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.88;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  display: flex;
}

.site-navigation-link:hover{
 color: #fb565a;
}

.site-navigation-link:active{
 color: rgba(0, 0, 0, 0.3);
 }
 .site-navigation-link:focus{
 color: #000000;
 text-decoration: underline;
}

.site-wrapper{
  min-width: 413px;
  background-color: #eeeeee;
  background-image: url("img/slide-picture1.png");
  background-repeat: no-repeat;
  background-position: right;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.slider {
  position: relative;
  padding-top: 36px;
  text-align: left;
}
.slider-list{
  margin: 0;
  padding: 0;
  list-style: none;
}
.slide-title{
  width: 408px;
  font-family: "Roboto", medium
  font-weight: bold;
  margin: 0 auto;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}
.slide-description{
  max-width: 361px;
  font-size: 16px;
  padding-left: 140px;
}
.button{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
   width: 200px;
  height: 50px;
  text-decoration: none;
  text-align: center;
  margin-left: 140px;
}
  .button:hover{
    background-color: #e74246;
  }
  .button:active{
    background-color: #d7373b;
  }
.slider-controls label{
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 17px;
  vertical-align: top;
  background-color:  #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls{
  position: absolute;
}
 .visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
} 
.slide{
  /* display: none; */
}
#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}
#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}
#product-1:checked ~ .site-wrapper {
  background-color: #eeeeee;
  background-image: url("img/slide-picture1.png");
  width: 698px;
  height: 413px;
}

#product-2:checked ~ .site-wrapper {
  background-color: #eeeeee;
  background-image: url("img/slide-picture2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #eeeeee;
  background-image: url("img/slide-picture3.png");
}

.advantage-title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  padding-top: 26px;
  padding-bottom: 26px;
}
.advantage-text{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #283136;
  max-width: 238px;
}
.advantage-picture-list{
  width: 1100px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 140px;
  margin-left: 80px;
  margin-right: 200px;
  padding-right: 100px;
    position: relative;
  }

.advantage-button {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 16px;
  width: 160px;
  height: 50px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.advantage-button:active{
   color: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.advantage-button-red {
  background-color: #fb565a;
   margin-top: 35px;
  margin-right: 240px;
}
.advantage-button-red:hover{
  background-color: #e74246;
}
.advantage-button-red:active{
  background-color: #d7373b;
}
.advantage-button-green {
  background-color: #00ca74;
   margin-top: 35px;
  margin-right: 240px;
}
.advantage-button-green:hover{
  background-color: #00bc6c;
  }
  .advantage-button-green:active{
  background-color: #00aa62;
  }
.advantage-button-yellow{
  background-color: #efc84a;
   margin-top: 35px;
  margin-right: 240px;
}
.advantage-button-yellow:hover{
  background-color: #eab534;
}
.advantage-button-yellow:active{
  background-color: #e5a722;
}
a {
  text-decoration: none;
}

.info-section{
  display: flex; 
  font-size: 16px;
  color: #283136;
  margin-top: 80px;
  margin-left: 141px;
margin-right: 149px;
margin-bottom: 76px;
}

.info-section-title {
  font-size: 45px;
  color: #000000;
  text-align: left;
}
.first-info-list {
  list-style: none;
}
.ul-info-list{
  list-style: none;
  display: flex;
  flex-direction: row;
justify-content: space-between; 
}
.info-list{
  font-size: 16px;
  color: #283136;
  line-height: 24px; 
}

.text-percent{
  font-size: 16px;
  color: #283136;
  line-height: 24px; 
}
/*.red-dash {
  width: 25px;
  height: 2px;
  background-color: #fb565a;
} */
.info-percent {
  font-size: 45px;
  font-weight: bold;
color: #000000;
padding-right: 33px;
}
.info-section-subtitle{
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
}

.logo-list{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-list-section {
  /*width: 1366px;
  height: 180px; */
  margin-top: 62px;
  margin-left: 171px;
  margin-right: 183px;
  margin-bottom: 50px;
}
.logo-list-button{
  opacity: 0.2;
}
.logo-list-button:hover{
  opacity: inherit;
}
.logo-list-button:active{
  opacity: 0.1;
}
.filter fieldset {
  border: none;
}


.filter ul {
  list-style: none;
  line-height: 20px;
}

fieldset ul {
  list-style: none;
}

.logo-button:hover{
    opacity: 0.8;
}
.logo-button:active{
    opacity: 0.3;
}

/* .catalog-content{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
    vertical-align: top; 
} */
.catalog-columns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 141px;
}
.sort-line{
  display: flex;
}
.ul-sort-line{
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.ul-sort-line li{
position: relative;
margin-right: 26px;
}
.sort-link{
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.3;
  cursor: pointer;
}
.sort-link:hover{
color: black;
opacity: 0.6;
}
.sort-link:active{
  color: #000000;
}
}
.filter-item {
  margin: 0;
  padding: 0;
  
  border: none;
  
  /* Для демонстрации */
  width: 260px;
  margin: 50px auto; 
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f1f1f1;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}


.catalog-item {
display: flex;
flex-direction: column;
padding-right: 40px;
padding-bottom: 33px;
}
.catalog-title{
  font-size: 55px;
  text-align: center;
  color: #000000;
}

.sort-title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}
.filter-list {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #283136;
  line-height: 20px;
  margin-bottom: 20px;
  padding-left: 0px;
}
.filter-list label {
  position: relative;
 /* display: block; */
  cursor: pointer;
}
.input-list {
  list-style: none;
  padding: 0px;
  margin: 0px;

}
.input-text + label::before{
  content: "";
  position: absolute;
  left: -10px;
}

.show-filter-button{
  font-family: "Roboto", sans-serif;
    font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  width: 260px;
  height: 50px;
  background-color: #eeeeee;
}
.show-filter-button:hover{
  background-color: #dfdfdf;
}
.show-filter-button:active{
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 1, 1, 0.1);
}


.catalog-list{
    list-style: none;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    vertical-align: top;
  }
  .site-title{
    font-family: "Roboto", sans-serif;
      font-size: 18px;
    font-weight: bold;
   /* text-align: center; */
    color: #000000;
    text-transform: uppercase; 
    text-decoration: none;
  }
  .site-title:hover{
    color: #fb565a;
  }
  .site-title:active{
    color: rgba(0, 0, 0, 0.3);
  }
  .site-description{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
   /* text-align: center; */
    color: #666666;
  }
  .price-button{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #fb565a;
     width: 200px;
    height: 50px;
    text-decoration: none;
    text-align: center;
  }
  .price-button:hover{
    background-color: #e74246;
  }
  .price-button:active{
    background-color: #d7373b;
  }

  .pagination-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin-top: 60px;
  }
  
  .pagination-link{
    margin: 0px;
       display: block;
    background-color: #eeeeee;
  }
  
  .pagination-link:hover{
    background-color: #dfdfdf;
  }
  .pagination-link:active{
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5d5d5;
  }
  .pagination-link:focus{
    background-color: #ffffff;
    border: solid 3px #dbdbdb;
  }
  .pagination-item{
    margin-right: 11px;
       display: block;
    background-color: #eeeeee;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center; 
  }
 
  .item-next{
    width: 260px;
  height: 50px;
  background-color: #eeeeee;
  }
  .pagination-item:last-child{
    margin-right: 0;
  }
  
  .pagination-item a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    
  }

  .main-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
      color: #000000;
      width: 1440px;
      height: 217px;
      background-color: #ffffff;
    }

  .footer-social ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 139px;
  }
.social-button-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
  .social-icons{
    padding-right: 12px
}
.social-button{
    background-color: #e1e1e1; 
    width: 79px;
   height: 79px;
   display: block;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .social-button img {
  margin: 0 auto;
  display: block;
}
.social-button:hover{
  background-color: #e74246;
}

.social-button:active{
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.social-img-style {
 background-color: #e1e1e1; 
   width: 79px;
  height: 79px;
}
.footer-text {
  display: block;
  flex-direction: column;
  justify-self: start;
}
.footer-text h3{
  font-size: 36px;
  font-weight: bold;
}
.footer-text p{
  font-size: 16px;
  color: #444444;
}

.modal{
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
}
.modal-post{
  width: 960px;
  height: 590px;
  padding-top: 73px;
  padding-left: 101px;
  padding-right: 100px;
  padding-bottom: 84px;
  margin-left: 240px;
  /* display: none; */
}
.modal-close{
  width: 21px;
  height: 21px;
  cursor: pointer;
  position: absolute;
left: 849px;
}
.modal-close::before,
.modal-close::after{
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color:#fb565a;
  opacity: 0.3;
}
.modal-close::before{
  transform: rotate(45deg);
}
.modal-close::after{
  transform: rotate(-45deg);
}
.modal-form input[type="text"],
.modal-form input[type="email"] {
  box-sizing: border-box;
  border: solid 2px var(--silver-two);
  
}

  .visually-hidden:not(:focus):not(:active),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
.modal-label{
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}

.modal-post h1{
  font-size: 45px;
  line-height: 45px;
 /* margin-top: 73px; */
}