body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, regular;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  color: var(--charcoal-grey);
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  text-transform: uppercase;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
  list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus
.user-navigation a :hover
.user-navigation a :focus {
  text-decoration: underline;
  text-underline-position: under;
  color: #fb565a;
}

.thumb-list {
  list-style: none;

}

.thumb-item {
  text-align: center;

  list-style: none;
}

.thumb-item h3 {
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
}

.index-columns

.checkbox {
  color: #4d4d4d;
}

.filter fieldset {
  border: none;
}


.filter ul {
  list-style: none;
  line-height: 20px;
}

fieldset ul {
  list-style: none;
}



.grey-round {
  width: 79px;
  height: 79px;
  background-color: #b1a8a8;
}

.main-footer {
  color: #000000;
  width: 1440px;
  height: 217px;
  background-color: #b1a8a8;
}

.main-footer h3 {
font-size: 36px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: 1;
list-style: none;
}

.footer-contacts a{
  color: #ffffff;
  text-decoration: underline;
}

.footer-contacts a :hover,
.footer-contacts a :focus {
  text-decoration: underline;
}

.footer-social {
  text-decoration: left;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #ffffff;
}